html {
    background-color: #282828;
    color: #ebdbb2;
}

a {
    color: #f78019;
}

img {
    height: auto;
    width: 400px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}